.todos__form {
  max-width: 1000px;
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.todos__form label {
  font-size: 16px;
  margin-bottom: 5px;
}

.todos__form input[type="text"] {
  border: 1px solid #ddd;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 8px;
}

.todos__form input[type="checkbox"] {
  margin: 5px 0;
}

.todos__form button {
  align-self: center;
  background-color: #28a745;
  padding: 10px 20px;
  border-radius: 5px;
  color: #fff;
}

.todos__form button:hover {
  background-color: #218838;
}
